#cofig
wheel

#ploting
altair
vega_datasets
pandas
numpy

#web app
Flask
Flask-HTTPAuth
Flask-SQLAlchemy
Flask-Bootstrap
Flask-Script
Jinja2

#DB
SQLAlchemy

#Services
requests

#testing
flake8
coverage
pep8

#Security
Werkzeug

dominate
html5lib
httpie
itsdangerous
MarkupSafe
mccabe
mock
pbr
pyflakes
Pygments
six
visitor
