<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{{ url_for('static', filename='tachyons.min.css')}}">
  <!-- LOOK: whatch here how to reference an static file -->
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-theme.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
  <script src="{{ url_for('static', filename='vega-min.js') }}"></script>
  <script src="{{ url_for('static', filename='vega-lite-min.js') }}"></script>
  <script src="{{ url_for('static', filename='vega-embed-min.js') }}"></script>
  <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
</head>
<body>
    {% block javascript %}
      <script src="{{ url_for('static', filename='vega-min.js') }}"></script>
      <script src="{{ url_for('static', filename='vega-lite-min.js') }}"></script>
      <script src="{{ url_for('static', filename='vega-embed-min.js') }}"></script>
      <script>
      //This is for research, to see the inside of element div
      function getChartElement(){
       var chartElement = document.getElementById("interactive_1");
       console.log(chartElement);
      }
      </script>
      <script>
        function getChartDat(message){
          var messageElement = document.getElementById("tchart1");
          messageElement.textContent = message;
          }
      </script>
      <script>
        function httpGet(theUrl){
              var xmlHttp = new XMLHttpRequest();
              xmlHttp.open( "GET", theUrl, false ); // false for synchronous request
              xmlHttp.send( null );
              var chartElement = document.getElementById("interactive_1");
              console.log(chartElement)
              chartElement.textContent = xmlHttp.responseText;
              //return
          }
      </script>
      <script>
        document.body.addEventListener("click", function(){
          httpGet("http://127.0.0.1:5000/vlspec");
          //getChartElement();
        });
      </script>
    {% endblock %}
  <div class="flex flex-column">
    {% block content %}{% endblock %}
</body>
</html>
